
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Yekan;
    src: url('./fonts/yekan-regular.eot');
    src: url('./fonts/Yekan.eot') format('FontName-opentype'),
         url('./fonts/yekan-regular.woff') format('woff'),
         url('./fonts/Yekan.woff') format('woff'),
         url('./fonts/Yekan.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  body{
    font-family: Yekan;
  }


